@media only screen and ( max-width: 480px ) {
    #customer-info {
        width: 60%;
    }

    #invoice-info {
        width: 40%;
    }

    body {
        width: 100%;
        overflow-x: hidden;
    }
}

@media print and (max-width: 80mm) {
    #customer-info {
        width: 100%;
    }

    #invoice-info {
        width: 100%;
    }

    .container-fluid {
        width: 100%;
        margin: 10px;
    }

    table tr h5 {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media print {    
    .no-print {
        display: none !important;
    }

    .container-fluid {
        margin-bottom: 0em;
    }
}
 
