@media print and (max-width: 80mm) {
    #customer-info {
        width: 100%;
    }

    #invoice-info {
        width: 100%;
    }

    .container-fluid {
        width: 100%;
        margin: 10px;
    }
}

@media print {    
    .no-print {
        display: none !important;
    }

    .container-fluid {
        margin-bottom: 0em;
    }
}
 
