.cursor-css{
    cursor: pointer;
}
.text-orange {
    color: #fb6340 !important;
}
.company_info h4,.company_info h5{
    text-align: center;
}
.company_info img{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
#loader {
    border: 1px solid #f3f3f3;
    border-radius: 50%;
    border-top: 1px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }
  #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(14, 13, 13, 0.5);
    z-index: 5000;
    cursor: pointer;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .ui-bkcolor{
    background-color: #2196f3;
    
  }
  .ui-bkcolor th{
    color: white!important;
  }
  .custom-body{
    background-color: white!important;
  }
  .custom-header{
    margin-bottom: 30px;
  }
  .navbar{
    background-color: #6777ef;
    position: fixed;
    top: 0;
    right: 0;
  }
  .custom-class{
    height: 115px;
  }
  .custom-section-body{
    margin-top: 98px!important;
    
    
  }
  .fixed-content{
    margin-left: 14px;
    margin-right: 14px;
    padding-top: 65px;
    width: 100%;
  }
  .fixed-header{
    box-shadow: 0 4px 8px rgb(0 0 0 / 3%);
    background-color: #fff;
    border-radius: 3px;
    border: none;
    margin-bottom: 30px;
    padding: 20px;
    display: flex;
    align-items: center;
  }
  .fixed-header h1{
    margin-bottom: 0;
    font-weight: 700;
    display: inline-block;
    font-size: 24px;
    margin-top: 3px;
    color: #34395e;
  }
  .fixed-header-breadcrumb{
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  .fixed-breadcrumb-item{
    font-size: 12px;
    
  }
  .fixed-breadcrumb-item.active{
    color: #6c757d;
  }
  body.sidebar-mini .fixed-content{
    margin-left: 10px;
  }
  @media (max-width: 575.98px){
    .custom-section-body{
      margin-top: 105px!important;
    }
    .navbar{
      left: 0;
      width: 100%;
    }
    .fixed-content{
      margin-left: 14px;
      margin-right: 14px;
      
    }
    .fixed-header{
      flex-wrap: wrap;
    margin-bottom: 20px !important;
    }
    .fixed-header h1{
      font-size: 18px;
    }
    .fixed-header-breadcrumb{
      flex-basis: 100%;
      margin-top: 10px;
    }
  }