.cursor-css{
    cursor: pointer;
}
.text-orange {
    color: #fb6340 !important;
}
.company_info h4,.company_info h5{
    text-align: center;
}
.company_info img{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
#loader {
    border: 1px solid #f3f3f3;
    border-radius: 50%;
    border-top: 1px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }
  #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(14, 13, 13, 0.5);
    z-index: 5000;
    cursor: pointer;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .ui-bkcolor{
    background-color: #2196f3;
    
  }
  .ui-bkcolor th{
    color: white!important;
  }
  .custom-body{
    background-color: white!important;
  }
  .custom-header{
    margin-bottom: 30px;
  }
  .custom-class{
    position: fixed;
    z-index: 10;
    width: 100%;
    left: 0;
    top: 0;
  }
  .custom-section-header{
    margin-top: 75px;
    margin-left: 287px;
      
  }
  .custom-section-body{
    margin-top: 93px!important;
  }
  @media (max-width: 575.98px){
    .custom-section-header{
      margin-top: 75px;
      margin-left: 37px;
    }
    .custom-section-body{
      margin-top: 100px!important;
    }
  }
  @media (max-width: 1024px){
    .custom-section-header{
      margin-top: 75px;
      margin-left: 37px;
    }
  }