<script src="../../../includes/js/auth.js"></script>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> IQNet &mdash; Payment Invoice</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../Utilities/bootstrap-3.3.7/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- Ionicons -->
    <link rel="stylesheet" href="../../../bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="../../css/payment_invoice.css">
</head>
<body class="hold-transition skin-red sidebar-mini fixed" style="margin-top: 10px;">
    <div class="container-fluid" style="margin-bottom: 5em;">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="text-center company_info">
                    <img src="../../Utilities/img/logo.png" width="300">
                    <h4 class="text-primary">FTTH Internet Service</h4>
                    <h4>Under License By : Internet Maekhong Network Co.,Ltd</h4>
                    <hr class="mb-3 mt-3" style="width:40%;border-top:1px solid grey;">
                    <h5>မြို့နယ် ဓမ္မာရုံ အရှေ့တိုက်တန်း၊ ရွှေတိဂုံ ဘုရားလမ်း၊ ဆန်ဆိုင်း(ခ)ရပ်၊ တာချီလိတ်မြို့။</h5>
                    <h5 class="text-orange">Myanmar Call : 09 428322377,  09 688788288</h5>
                    <h5 class="text-orange">Thai & Chinese Call : 09 688788188</h5>
                </div>
            </div>
        </div>
        <hr style="border-top:1px solid grey;">
        <div class="row">
            <div class="col-xs-9" id="customer-info">
                <table>
                  <tr>
                    <td><h5>Name:&nbsp;&nbsp;</h5></td>
                    <td><h5 id="name"></h5></td>
                  </tr>
                  <tr>
                    <td><h5>User ID:&nbsp;&nbsp;</h5></td>
                    <td><h5 id="userId"></h5></td>
                  </tr>
                  <tr>
                    <td><h5>Address:&nbsp;&nbsp;</h5></td>
                    <td><h5 id="address"></h5></td>
                  </tr>
                  <tr>
                    <td><h5>Pon No:&nbsp;&nbsp;</h5></td>
                    <td><h5 id="pon"></h5></td>
                  </tr>
                </table>
            </div>
            <div class="col-xs-3" id="invoice-info">
                <table>
                    <tr>
                        <td>Date:</td>
                        <td><h5 id="get_date"></h5></td>
                    </tr>
                    <tr>
                        <td>Invoice:&nbsp;&nbsp;</td>
                        <td><h5 id="inv_no"></h5></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <table class="table" id='tbl_invoice'>
                    <thead>
                        <tr>
                            <th class='text-center'>Month</th>
                            <th class='text-center'>Plan</th>
                            <th class='text-right'>Price</th>
                        </tr>
                        </thead>
                        <tbody id="tbl_invoice_container"></tbody>
                        <tfoot>
                        <tr>
                            <th colspan="2" class="text-right">Total</th>
                            <td class="text-right"><span id="total"></span></td>
                        </tr>
                        <tr>
                            <th colspan="2" class="text-right">Additional Charges</th>
                            <td class="text-right"><span id="add_charges"></span></td>
                        </tr>
                        <tr>
                            <th colspan="2" class="text-right">Grand Total</th>
                            <td class="text-right"><span id="grand_total"></span></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <hr>
        <div class="text-md-right">
            <div class="float-lg-left mb-lg-0 mb-3">
        
            </div>
            <h6 class="text-center">----- Thank You -----</h6>
            <button class="btn btn-primary pull-right no-print" onclick="javascript: window.print();">Print</button>
        </div>
    </div>
    <!-- jQuery 3 -->
    <script src="../../plugins/default-theme/jquery-3.3.1.min.js" ></script>
    <script src="../../Utilities/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
    <script src="../../plugins/default-theme/jquery-3.7.6.nicescroll.min.js"></script>
    <script src="../../Utilities/js/common.js"></script>
    <script src="../../Utilities/js/invoice.js"></script>
    <!-- api -->
    <script>
        $(document).ready(function() {
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();

            today = dd + '/' + mm + '/' + yyyy;
            $('#get_date').append(today);
            getPaymentInvoice();
        });
    </script>
    <style>
        hr {
            margin-top: 0;
            margin-bottom: 0;
        }
    </style>
</body>
</html>
