<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>IQNet &mdash; Income/Outcome</title>

  <!-- General CSS Files -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="../../Utilities/bootstrap-4.3.1-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- DataTables -->
  <link rel="stylesheet" href="../../Utilities/plugins/datatables-select/css/select.bootstrap4.css">
  <link rel="stylesheet" href="../../Utilities/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="../../Utilities/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" /> -->
  <!-- Template CSS -->
  <link rel="stylesheet" href="../../assets/css/style.css">
  <link rel="stylesheet" href="../../assets/css/components.css">
  <!--Toastr-->
  <link rel="stylesheet" href="../../Utilities/plugins/toastr/toastr.min.css">
  <link rel="stylesheet" href="../../Utilities/css/common.css">
  <link rel="stylesheet" href="../../Utilities/css/login.css">
</head>
<body>
  <div id="overlay">
    <div id="loader" class="spinner-border">
    </div>
  </div>
  <div id="app">
    <div class="main-wrapper">
      <div class="custom-class navbar ">
       
        <!-- <div class="navbar-bg"></div> class="navbar navbar-expand-lg main-navbar" -->
      <nav class="navbar navbar-expand-lg main-navbar">
        <form class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
            
          </ul>
        </form>
        <ul class="navbar-nav navbar-right">
          <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
            <img alt="image" src="../../assets/img/avatar/avatar-1.png" class="rounded-circle mr-1">
            <!-- <div class="d-sm-none d-lg-inline-block" id="user_name"></div></a> -->
            <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-title" id="user_name" style="display: block"></div>
              <div class="dropdown-divider"></div>
              <a onclick="logout();" class="dropdown-item has-icon text-danger">
                <i class="fas fa-sign-out-alt"></i> Logout
              </a>
            </div>
          </li>
        </ul>
        
      </nav>
      <div class="fixed-content">
        <section class="">
          <div class="fixed-header">
            <h1>Income/Outcome</h1>
            <div class="fixed-header-breadcrumb">
              <div class="fixed-breadcrumb-item breadcrumb-item active"><a href="#">Dashboard</a></div>
              <div class="fixed-breadcrumb-item breadcrumb-item">Income/Outcome</div>
            </div>
          </div>
        </section>
      </div>
      </div>
      
      <div class="main-sidebar">
      </div>

      <!-- Main Content -->
      <div class="main-content">
        
        <section class="section">
          
          <div class="section-body custom-section-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-body">
                    <ul class="nav nav-tabs" id="myTab5" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="custom-tabs-income_tab" data-toggle="tab" href="#custom-tabs-income" role="tab" aria-controls="custom-tabs-income" aria-selected="true">
                          <i class="fas fa-plus"></i> Income</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-outcome_tab" data-toggle="tab" href="#custom-tabs-outcome" role="tab" aria-controls="custom-tabs-outcome" aria-selected="false">
                          <i class="fas fa-minus"></i></i> Outcome</a>
                      </li>

                    </ul>
                  </div>
                  <div>
                    <div class="tab-content" id="custom-tabs-four-tabContent">
                      <div class="tab-pane fade show active" id="custom-tabs-income" role="tabpanel" aria-labelledby="custom-tabs-income_tab">

                          <div class="row">
                            <div class="col-md-12">
                                <div class="card">

                                  <div class="card-body">
                                    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#incometotal_modal">
                                      <i class="fas fa-plus fa-sm"> Add New</i>
                                    </button><br/><br/>
                                    <div class="row">

                                      <div class="col-sm-4 form-group">

                                        <div class="input-group" data-target-input="nearest">
                                          <select class="form-control" id="selected_date" onchange='getIncomeBySelectMonth(this.value);'>
                                            <option value="" disabled selected>Search</option>
                                            <option value="Monthly">Monthly</option>
                                            <option value="Custom">Custom</option>
                                          </select>
                                          <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                              <div class="input-group-text"><i class="fas fa-list-ul"></i></div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-sm-4 form-group">
                                        <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                          <input type="date" id="income_datepicer" class="form-control" disabled onchange='getIncomeByDate(this.value);' />

                                        </div>
                                      </div>

                                    </div>
                                    <div class='row' id="income">
                                      <div class='col-12'>
                                        <table id='tbl_income' class="table table-hover" width="100%">
                                          <thead>
                                              <tr>
                                                  <th class='text-center'>Income Date</th>
                                                  <th class='text-center'>Amount</th>
                                                  <th></th>
                                              </tr>
                                          </thead>
                                          <tbody id="tbl_income_container"></tbody>
                                        </table>

                                      </div>
                                    </div>
                                    <div class="row " id="yearincome">
                                      <div class="col-12">

                                        <table id='tbl_yearincome' class="table mt-3"  width="100%">
                                          <thead>
                                              <tr>
                                                  <th class='text-center'>Year</th>
                                                  <th class='text-center'>Month</th>
                                                  <th class='text-center'>Amount</th>
                                                  <th></th>
                                              </tr>
                                          </thead>
                                          <tbody id="tbl_yearincome_container"></tbody>
                                        </table>
                                      </div>
                                    </div>

                                  </div>
                                  
                                </div>

                            </div>

                          </div>
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="card">
                                <div class="card-header">
                                  <h4>Income Detail</h4>
                                </div>
                                <div class="card-body">


                                    <table id='tbl_income_detail' class="table">
                                      <thead>
                                          <tr>
                                              <th class='text-center'>Date</th>
                                              <th class='text-center'>Reason</th>
                                              <th class='text-center'>Amount</th>

                                          </tr>
                                      </thead>
                                      <tbody id="tbl_income_detail_container"></tbody>
                                  </table>

                                </div>
                              </div>
                            </div>

                          </div>
                      </div>
                      <div class="tab-pane fade" id="custom-tabs-outcome" role="tabpanel" aria-labelledby="custom-tabs-outcome-tab_tab">

                          <div class="row">
                            <div class="col-md-12">
                                <div class="card">

                                  <div class="card-body">
                                    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#outcometotal_modal">
                                      <i class="fas fa-plus fa-sm"> Add New</i>
                                    </button><br/><br/>
                                    <div class="row">

                                      <div class="col-sm-4 form-group">

                                        <div class="input-group" data-target-input="nearest">
                                          <select class="form-control" id="selected_outcome_date" onchange='getOutcomeBySelectMonth(this.value);'>
                                            <option value="" disabled selected>Search</option>
                                            <option value="Monthly">Monthly</option>
                                            <option value="Custom">Custom</option>
                                          </select>
                                          <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                              <div class="input-group-text"><i class="fas fa-list-ul"></i></div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-sm-4 form-group">
                                        <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                          <input type="date" id="outcome_datepicer" class="form-control" disabled onchange='getOutcomeByDate(this.value);'/>

                                        </div>
                                      </div>

                                    </div>
                                    <div class="row" id="outcome">
                                      <div class="col-12">
                                        <table id='tbl_outcome' class="table table-hover">
                                          <thead>
                                              <tr>
                                                  <th class='text-center'>Outcome Date</th>
                                                  <th class='text-center'>Amount</th>
                                                  <th></th>
                                              </tr>
                                          </thead>
                                          <tbody id="tbl_outcome_container"></tbody>
                                      </table>
                                      </div>
                                    </div>
                                    <div class="row" id="yearoutcome">
                                      <div class="col-12">
                                        <table id='tbl_yearoutcome' class="table  mt-3">
                                          <thead>
                                              <tr>
                                                  <th class='text-center'>Year</th>
                                                  <th class='text-center'>Month</th>
                                                  <th class='text-center'>Amount</th>
                                                  <th></th>
                                              </tr>
                                          </thead>
                                          <tbody id="tbl_yearoutcome_container"></tbody>
                                      </table>
                                      </div>
                                    </div>

                                  </div>
                                  
                                </div>

                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <div class="card">
                                <div class="card-header">
                                  <h4>Outcome Detail</h4>
                                </div>
                                <div class="card-body">

                                  <table id='tbl_outcome_detail' class="table">
                                    <thead>
                                        <tr>
                                            <th class='text-center'>Date</th>
                                            <th class='text-center'>Reason</th>
                                            <th class='text-center'>Amount</th>

                                        </tr>
                                    </thead>
                                    <tbody id="tbl_outcome_detail_container"></tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>

                    </div>
                  </div>
                 
                </div>
              </div>

            </div>
            
          </div>
        </section> 
      </div>
      <footer class="main-footer">
        <div class="footer-left">
          <!-- Copyright &copy; 2018 <div class="bullet"></div> Design By <a href="https://nauval.in/">Muhamad Nauval Azhar</a> -->
        </div>
        <div class="footer-right">
          2.3.0
        </div>
      </footer>
    </div>



    <!-- /.control-sidebar -->
    <div class="modal fade" id="income_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add New Income</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form id="incomeForm" enctype="multipart/form-data" method="post">
                    <div class="form-group row">
                        <div class="col-md-12">

                            <label class="col-form-label">Date</label>
                            <div class="input-group">
                              <input type="text" id="income_detail_date" autocomplete="off" class="form-control" readonly>
                              <div class="input-group-append">
                                <span class="input-group-text" ><i class="fas fa-calendar"></i></span>
                              </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label class="col-form-label">Reason</label>
                            <div class="input-group">
                              <input type="text" id="income_detail_reason" placeholder="Enter Reason" autocomplete="off" class="form-control" required oninvalid="this.setCustomValidity('Enter Reason')" oninput="setCustomValidity('')">

                            </div>
                        </div>
                      </div>
                    <div class="form-group row">

                      <div class="col-md-12">
                        <label class="col-form-label">Amount</label>
                        <div class="input-group">
                          <input type="number" id="income_detail_amount" placeholder="Enter Amount" autocomplete="off" class="form-control" required oninvalid="this.setCustomValidity('Enter Amount')" oninput="setCustomValidity('')">

                        </div>
                      </div>

                  </div>

                </form>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" form="incomeForm"> Save</button>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="outcome_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add New Outcome</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form id="outcomeForm" enctype="multipart/form-data" method="post" >
                    <div class="form-group row">
                        <div class="col-md-12">

                            <label class="col-form-label">Date</label>
                            <div class="input-group">
                              <input type="text" id="outcome_detail_date" autocomplete="off" class="form-control" readonly>
                              <div class="input-group-append">
                                <span class="input-group-text" ><i class="fas fa-calendar"></i></span>
                              </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label class="col-form-label">Reason</label>
                            <div class="input-group">
                              <input type="text" id="outcome_detail_reason" placeholder="Enter Reason" autocomplete="off" class="form-control" required oninvalid="this.setCustomValidity('Enter Reason')" oninput="setCustomValidity('')">

                            </div>
                        </div>
                      </div>
                    <div class="form-group row">

                      <div class="col-md-12">
                        <label class="col-form-label">Amount</label>
                        <div class="input-group">
                          <input type="number" id="outcome_detail_amount" placeholder="Enter Amount" autocomplete="off" class="form-control" required oninvalid="this.setCustomValidity('Enter Amount')" oninput="setCustomValidity('')">

                        </div>
                      </div>

                  </div>

                </form>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary " form="outcomeForm"> Save</button>
            </div>
          </div>
        </div>
    </div>
      <div class="modal fade" id="incometotal_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add New Income</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form id="income_form" autocomplete="off" name="income_form" enctype="multipart/form-data" method="post" action="javascript:createIncome();">
                <input type="hidden" id="income_id" />
                <input type="hidden" id="income_total" />
                <!-- Form Field Start From Here Below -->
                <div class="form-group row">
                  <div class="col-md-12 col-sm-12">
                    <label class="col-form-label">Date</label>
                    <div class="input-group">
                        <input type="text" id="income_date" class="form-control" placeholder="dd/mm/yyyy" aria-label="Recipient's username" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask aria-describedby="basic-addon2" required oninvalid="this.setCustomValidity('Enter Date')" oninput="setCustomValidity('')">
                        <div class="input-group-append">
                          <span class="input-group-text" ><i class="fas fa-calendar"></i></span>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label class="col-form-label">Reason</label>
                    <input type="type" class="form-control" autocomplete="off" id="income_reason" placeholder="Enter Reason" required oninvalid="this.setCustomValidity('Enter Reason')" oninput="setCustomValidity('')">
                </div>
                </div>
                <div class="form-group row">

                    
                    
                    <div class="col-sm-12">
                        <label class="col-form-label">Amount</label>
                        <input type="number" class="form-control" autocomplete="off" id="income_amount" placeholder="Enter Amount" required oninvalid="this.setCustomValidity('Enter Amount')" oninput="setCustomValidity('')">
                    </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary " form="income_form">Save</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="outcometotal_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add New Outcome</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form class="form-horizontal" id="outcome_form" autocomplete="off" name="outcome_form" enctype="multipart/form-data" method="post" action="javascript:createOutcome();">
                <input type="hidden" id="outcome_id" />
                <input type="hidden" id="outcome_total" />
                <!-- Form Field Start From Here Below -->
                <div class="form-group row">
                  <div class="col-md-12 col-sm-12">
                    <label class="col-form-label">Date</label>
                    <div class="input-group">
                        <input type="text" id="outcome_date" class="form-control" placeholder="dd/mm/yyyy" aria-label="Recipient's username" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask aria-describedby="basic-addon2" required oninvalid="this.setCustomValidity('Enter Date')" oninput="setCustomValidity('')">
                        <div class="input-group-append">
                          <span class="input-group-text" ><i class="fas fa-calendar"></i></span>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label class="col-form-label">Reason</label>
                    <input type="type" class="form-control" autocomplete="off" id="outcome_reason" placeholder="Enter Reason" required oninvalid="this.setCustomValidity('Enter Reason')" oninput="setCustomValidity('')">
                </div>
                </div>
                <div class="form-group row">
                     
                    
                    <div class="col-sm-12">
                        <label class="col-form-label">Amount</label>
                        <input type="number" class="form-control" autocomplete="off" id="outcome_amount_paid" placeholder="Enter Amount" required oninvalid="this.setCustomValidity('Enter Amount')" oninput="setCustomValidity('')">
                    </div>

                </div>

              </form>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" form="outcome_form"> Save</button>
            </div>
          </div>
        </div>
    </div>
  </div>
  <!-- ./wrapper -->
 <!-- General JS Scripts -->
 <script src="../../plugins/default-theme/jquery-3.3.1.min.js" ></script>
 <script src="../../plugins/default-theme/popper-1.14.7.min.js" ></script>
 <script src="../../Utilities/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
 <script src="../../plugins/default-theme/jquery-3.7.6.nicescroll.min.js"></script>
 <script src="../../plugins/default-theme/moment-2.24.0.moment.min.js"></script>
 <script src="../../assets/js/stisla.js"></script>
 <script src="../Main/js/default_template.js.js"></script>

  <!-- Template JS File -->
  <script src="../../assets/js/scripts.js"></script>
  <script src="../../assets/js/custom.js"></script>

 <!-- DataTables -->
 <script src="../../Utilities/plugins/datatables/jquery.dataTables.min.js"></script>
 <script src="../../Utilities/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
 <script src="../../Utilities/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
 <script src="../../Utilities/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
 <!-- InputMask -->
 <script src="../../Utilities/plugins/moment/moment.min.js"></script>
 <script src="../../Utilities/plugins/inputmask/jquery.inputmask.min.js"></script>
 <script src="../../Utilities/js/common.js"></script>
 <!--Toastr-->
 <script src="../../Utilities/plugins/toastr/toastr.min.js"></script>
 <script src="../../Utilities/js/auth.js"></script>
 <script src="../../Utilities/js/income.js"></script>
 <script src="../../Utilities/js/income_detail.js"></script>
 <script src="../../Utilities/js/outcome.js"></script>
 <script src="../../Utilities/js/outcome_detail.js"></script>
 
  <script>
    $('#income_date').inputmask('dd-mm-yyyy', { 'placeholder': 'dd-mm-yyyy' });
    $('#outcome_date').inputmask('dd-mm-yyyy', { 'placeholder': 'dd-mm-yyyy' });

    getIncome();
    getOutcome();
    loadUser();
    $('#custom-tabs-income_tab').click(function() {
      showLoad();
      hideLoad();
     
    });
    $('#custom-tabs-outcome_tab').click(function() {
      showLoad();
      hideLoad();
    });
  </script>
</body>
</html>
