<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>IQNet &mdash; Invoicing</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="../../Utilities/bootstrap-4.3.1-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <!-- CSS Libraries -->
  <!-- <link rel="stylesheet" href="../node_modules/jqvmap/dist/jqvmap.min.css">
  <link rel="stylesheet" href="../node_modules/summernote/dist/summernote-bs4.css">
  <link rel="stylesheet" href="../node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css"> -->
  <!-- DataTables -->
  <link rel="stylesheet" href="../../Utilities/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="../../Utilities/plugins/datatables-select/css/select.bootstrap4.css">
  <link rel="stylesheet" href="../../Utilities/plugins/datatables-responsive/css/responsive.bootstrap4.min.css"><link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
  <!--Toastr-->
  <link rel="stylesheet" href="../../Utilities/plugins/toastr/toastr.min.css">
  <!-- Template CSS -->
  <link rel="stylesheet" href="../../assets/css/style.css">
  <link rel="stylesheet" href="../../assets/css/components.css">
  <!--Authentication JS-->
  <script src="../../Utilities/js/auth.js"></script>
  <link rel="stylesheet" href="../../Utilities/css/common.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.min.css">
  <!-- Bootstrap Font Icon CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <!-- <link rel="stylesheet" href="../../plugins/bootstrap-icons-font-2.0.7/dist/bootstrap-icons-font.css"> -->
 <style>
   .bi-lg{
    font-size: 1rem;
   }
 </style>
</head>

<body>
    <div id="overlay">
        <div id="loader" class="spinner-border">
        </div>
    </div>
  <div id="app">
    <div class="main-wrapper">
      <div class="custom-class navbar">
        
      <nav class="navbar navbar-expand-lg main-navbar">
        <form class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>

          </ul>
        </form>
        <ul class="navbar-nav navbar-right">
          <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
            <img alt="image" src="../../assets/img/avatar/avatar-1.png" class="rounded-circle mr-1">
            <div class="d-sm-none d-lg-inline-block" id="user_name"></div></a>
            <div class="dropdown-menu dropdown-menu-right">
              <a onclick="logout();" class="dropdown-item has-icon text-danger">
                <i class="fas fa-sign-out-alt"></i> Logout
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <div class="fixed-content">
        <section class="">
          <div class="fixed-header">
            <h1>Invoicing</h1>
            <div class="fixed-header-breadcrumb">
              <div class="fixed-breadcrumb-item breadcrumb-item active"><a href="#">Dashboard</a></div>
              <div class="fixed-breadcrumb-item breadcrumb-item">Payment</div>
            </div>
          </div>
        </section>
      </div>
      </div>
      <div class="main-sidebar">
      </div>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
            <div class="section-body custom-section-body">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            <h4>Customer Info</h4>
                        </div>
                        <div class="card-body">
                            <div id="customer-info"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 style="width: 30%;">List of Credits</h4>
                            <div style="width: 70%;">
                              <button type="button" class="btn btn-primary float-right" style="border-radius: 0px;" onclick="toBilling()">
                                <span class="badge badge-light" id="inv-badge" style="margin: 0;"></span> Invoice Lists
                              </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table" id="tbl-credit">
                                    <thead>
                                        <tr>
                                            <!-- <th><input type="checkbox" id="check-all" onclick="checkAll(this);"></th> -->
                                            <th></th>
                                            <th>#</th>
                                            <th>Month</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbl-credit-body"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6"></div>
              </div>
            </div>
          </section>
      </div>
      <footer class="main-footer">
        <div class="footer-left">
          <!-- Copyright &copy; 2018 <div class="bullet"></div> Design By <a href="https://nauval.in/">Muhamad Nauval Azhar</a> -->
        </div>
        <div class="footer-right">
          2.3.0
        </div>
      </footer>
    </div>
  </div>

  <div class="modal" tabindex="-1" role="dialog" id="billing-modal">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Invoice Lists</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="post" action="javascript:createInvoice();">
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12 table-responsive">
                <table class="table" id="tbl_invoice">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Month</th>
                      <th>Price</th>
                    </tr>
                  </thead>
                  <tbody id="item-lists"></tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <h6>Additional Charges: </h6>
              </div>
              <div class="col-md-6">
                <input type="number" min="0" name="add-charge" id="add-charge" placeholder="xxxx" value="0" />
              </div>
            </div>
            <div class="row" style="margin-top: 5px;">
              <div class="col-md-6">
                <h6>Total:</h6>
              </div>
              <div class="col-md-6">
                <h6 id="total" name="total"></h6>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Proceed</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </form>
        
      </div>
    </div>
  </div>

  <!-- General JS Scripts -->
  <script src="../../plugins/default-theme/jquery-3.3.1.min.js" ></script>
   <script src="../../plugins/default-theme/popper-1.14.7.min.js" ></script>
   <script src="../../Utilities/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
   <script src="../../plugins/default-theme/jquery-3.7.6.nicescroll.min.js"></script>
   <script src="../../plugins/default-theme/moment-2.24.0.moment.min.js"></script>
  <script src="../../assets/js/stisla.js"></script>
  <script src="../Main/js/default_template.js.js"></script>
  <!-- Template JS File -->
  <script src="../../assets/js/scripts.js"></script>
  <script src="../../assets/js/custom.js"></script>
  <!-- DataTables -->
  <script src="../../Utilities/plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="../../Utilities/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="../../Utilities/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
  <script src="../../Utilities/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
  <!-- InputMask -->
  <script src="../../Utilities/plugins/moment/moment.min.js"></script>
  <script src="../../Utilities/plugins/inputmask/jquery.inputmask.min.js"></script>
  <!--Toastr-->
  <script src="../../Utilities/plugins/toastr/toastr.min.js"></script>
  <script src="../../Utilities/js/common.js"></script>
  <script src="../../Utilities/js/customer_payment.js"></script>
  <script src="../../Utilities/js/invoice.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
  <script>
      $(document).ready( function() {
          getCustomerById()
          loadUser()
      })
  </script>

  <style>
    #add-charge {
      border: none;
      font-size: 1em;
      font-weight: 700;
    }

    #add-charge:focus {
      outline-width: 0;
    }
  </style>
</body>
</html>
