<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>IQNet &mdash; Payment Details</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="../../Utilities/bootstrap-4.3.1-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <!-- DataTables -->
  <link rel="stylesheet" href="../../Utilities/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="../../Utilities/plugins/datatables-select/css/select.bootstrap4.css">
  <link rel="stylesheet" href="../../Utilities/plugins/datatables-responsive/css/responsive.bootstrap4.min.css"><link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
  <!--Toastr-->
  <link rel="stylesheet" href="../../Utilities/plugins/toastr/toastr.min.css">
  <!-- Template CSS -->
  <link rel="stylesheet" href="../../assets/css/style.css">
  <link rel="stylesheet" href="../../assets/css/components.css">
  <!--Authentication JS-->
  <script src="../../Utilities/js/auth.js"></script>
  <link rel="stylesheet" href="../../Utilities/css/common.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.min.css">
  <!-- Bootstrap Font Icon CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <style>
     .bi-lg{
      font-size: 1rem;
     }
  </style>
</head>

<body>
    <div id="overlay">
        <div id="loader" class="spinner-border">
        </div>
    </div>
  <div id="app">
    <div class="main-wrapper">
      <div class="custom-class navbar">
        
      <nav class="navbar navbar-expand-lg main-navbar">
        <form class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>

          </ul>
        </form>
        <ul class="navbar-nav navbar-right">
          <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
            <img alt="image" src="../../assets/img/avatar/avatar-1.png" class="rounded-circle mr-1">
            <div class="d-sm-none d-lg-inline-block" id="user_name"></div></a>
            <div class="dropdown-menu dropdown-menu-right">
              <a onclick="logout();" class="dropdown-item has-icon text-danger">
                <i class="fas fa-sign-out-alt"></i> Logout
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <div class="fixed-content">
        <section class="">
          <div class="fixed-header">
            <h1>Payment</h1>
            <div class="fixed-header-breadcrumb">
              <div class="fixed-breadcrumb-item breadcrumb-item active"><a href="#">Dashboard</a></div>
              <div class="fixed-breadcrumb-item breadcrumb-item">Payment Details</div>
            </div>
          </div>
        </section>
      </div>
      </div>
      <div class="main-sidebar">
      </div>
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
            <div class="section-body custom-section-body">
              <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                  <div class="card">
                    <div class="card-header">
                        <h4>Payment Details</h4>
                      </div>
                    <div class="card-body">
                      <table class="table table-hover text-nowrap" id="tbl_payment">
                        <thead class="text-center">
                          <tr>
                              <th>#</th>
                              <th>Invoice-No</th>
                              <th>Total</th>
                              <th>Action</th>
                          </tr> 
                        </thead>

                        <tbody id="tbl_payment_body" class="hoverTable"></tbody>
                        </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
      </div>
      <footer class="main-footer">
        <div class="footer-left">
          <!-- Copyright &copy; 2018 <div class="bullet"></div> Design By <a href="https://nauval.in/">Muhamad Nauval Azhar</a> -->
        </div>
        <div class="footer-right">
          2.3.0
        </div>
      </footer>
    </div>
  </div>

  <!-- General JS Scripts -->
  <script src="../../plugins/default-theme/jquery-3.3.1.min.js" ></script>
   <script src="../../plugins/default-theme/popper-1.14.7.min.js" ></script>
   <script src="../../Utilities/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
   <script src="../../plugins/default-theme/jquery-3.7.6.nicescroll.min.js"></script>
   <script src="../../plugins/default-theme/moment-2.24.0.moment.min.js"></script>
  <script src="../../assets/js/stisla.js"></script>

  <script src="../Main/js/default_template.js.js"></script>
  <!-- Template JS File -->
  <script src="../../assets/js/scripts.js"></script>
  <script src="../../assets/js/custom.js"></script>
  <!-- DataTables -->
  <script src="../../Utilities/plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="../../Utilities/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="../../Utilities/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
  <script src="../../Utilities/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
  <!-- InputMask -->
  <script src="../../Utilities/plugins/moment/moment.min.js"></script>
  <script src="../../Utilities/plugins/inputmask/jquery.inputmask.min.js"></script>
  <!--Toastr-->
  <script src="../../Utilities/plugins/toastr/toastr.min.js"></script>
  <!-- Page Specific JS File -->
  <!-- <script src="../../assets/js/page/index.js"></script> -->
  <script src="../../Utilities/js/common.js"></script>
  <script src="../../Utilities/js/customer_payment.js"></script>
  <script src="../../Utilities/js/customer.js"></script>
  <script src="../../Utilities/js/invoice.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    $('#pay_date').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })

    $(function() {
      $('#class-color-status').load('../color_status/color_status.html')
    })

    $(document).ready(function() {
        $('.payment').addClass('active');
        loadUser();
        var currentUrl = window.location.href;
        var url = new URL(currentUrl);
        var customerId = url.searchParams.get("customerId");
        
        getAllInvoices(customerId);
       
    });
  </script>
  <style>
    td.details-control {
      background: url('https://www.datatables.net/examples/resources/details_open.png') no-repeat center center;
      cursor: pointer;
      background-size: 30px;
    }

    tr.details td.details-control {
        background: url('https://www.datatables.net/examples/resources/details_close.png') no-repeat center center;
        background-size: 30px;
    }

   #extra-info tbody tr:hover {
     background-color: white;
   } 
  </style>
</body>
</html>
